<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<body>
  <div class="container">
    <div id="register">
      <table>
        <tr>
          <td>
            <a [routerLink]="['/user-view']">View Details</a>
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <a [routerLink]="['/user-update']">Update Details</a>
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <a [routerLink]="['/user-delete']">Delete Account</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
