
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<body>
<div class="container">
    <h1> Fast Track Policy and Claim Services</h1>
    <div class="hello">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Life Insurance</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a [routerLink] = "['/home']">Home</a></li>

    </ul>
  </div>
</nav>
</div>
</div>

</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<router-outlet></router-outlet>
