<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<body>
<div class="container">
   <div id="register">
       <table>
      <tr><td><a [routerLink] = "['/user-registration']">User Registration</a></td></tr>
      <br>
     <tr><td> <a [routerLink] = "['/agent-registration']">Agent Registration</a></td></tr>    
     <br>
     <tr> <td><a [routerLink] = "['/manager-registration']">Manager Registration</a></td></tr>
</table>
   </div>


   <div id="signin">
 
      <h2>Login</h2>
      <form>
          <div class="inputBox">
              <input type="text" name="" required>
              <label>Username</label>
          </div>
          <div class="inputBox">
              <input type="password" name="" required>
              <label>Password</label>
          </div>
          <input type ="submit" name="" value="submit">
      </form>
     
  </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>